nav a {
    color: #555; /* Color inicial de los enlaces */
    text-decoration: none; /* Elimina el subrayado */
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

nav a:hover {
    color: #c8daec; /* Color al hacer hover, ajusta según tu paleta de colores */
}


.logout-link:hover {
    color: red;
    transition: color 0.3s ease;
}
